
 <div class = "container">
  <h1>Campaigns</h1>
  <div class = "m-2 p-2"  *ngIf="!selected">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <td><strong>Game</strong></td>
          <td><strong>Name</strong></td>
          <td><strong>Storyteller</strong></td>
          <td><strong>Players</strong></td>
          <td><strong>Actions</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let campaign of campaigns" (click)="displayCampaign(campaign)">
          <td class="col md-4">
            <img class="img-thumbnail" [src]="campaign.game.imageURL" alt="no image found"/>
          </td>
          <td>{{campaign.name}}</td>
          <td>{{campaign.storyteller.firstName}} {{campaign.storyteller.lastName}}</td>
          <td>
            <ul>
              <li *ngFor="let player of campaign.players">{{player.firstName}} {{player.lastName}}</li>
            </ul>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteCampaign(campaign.id)">Remove</button>
            <button class="btn btn-warning" (click)="displayCampaign(campaign)">Details</button>
          </td>
        </tr>
        <tr class="text-center">
          <td colspan="5"><button class="btn btn-danger" (click)="addCampaignToggle()">Add Campaign</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selected && !editCampaign">
    <h2>Campaign Details</h2>
    <ul>
      <li><strong>ID:</strong> {{ selected.id }}</li>
      <li><strong>Name:</strong> {{ selected.name }}</li>
      <li><strong>Storyteller:</strong> {{selected.storyteller.firstName}} {{selected.storyteller.lastName}}</li>
      <li><strong>Players:</strong>
        <ul>
          <li *ngFor="let player of selected.players">{{player.firstName}} {{player.lastName}}</li>
        </ul>

      <button class="btn btn-warning" (click)="setEditCampaign()">Edit</button>
      <button class="btn btn-primary" (click)="displayTable()">Back to List</button>
    </ul>
  </div>

  <div *ngIf="editCampaign">
    <h2>Edit Campaign</h2>
    <form id="adventurerForm">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="editCampaign.name" required>
      <br>
      <label for="storyteller">Storyteller:</label>
      <select type="text" id="storyteller" name="storyteller" [(ngModel)]="editCampaign.storyteller">
        <option *ngFor="let player of players" [ngValue]="player">{{player.firstName}} {{player.lastName}}</option>
      </select>
      <br>
      <label for="game">Game:</label>
      <select type="text" id="game" name="game" [(ngModel)]="editCampaign.game">
        <option *ngFor="let game of games" [ngValue]="game">{{game.name}}</option>
      </select>
      <br>
      <label for="campPlayers">Current Players:</label>
      <ul>
        <li *ngFor="let player of editCampaign.players">{{player.firstName}} {{player.lastName}}
          <button class="btn btn-danger" type="button" (click)="removePlayer(player)">Remove</button>
        </li>
      </ul>
      <br>
      <label for="players">Players:</label>
      <ul>
        <li *ngFor="let player of players">{{player.firstName}} {{player.lastName}}
          <button type="button" class="btn btn-success" (click)="addPlayer(player)">Add Player</button>
        </li>
      </ul>

      <div>
        <button type="button" class="btn btn-warning" (click)="updateCampaign(editCampaign)">Save</button>
        <button type="button" class="btn btn-primary" (click)="cancelEdit()">Cancel</button>
      </div>
  </form>
  </div>

  <div *ngIf="addCampaignDisplay">
    <h2>Add Campaign</h2>
    <form id="adventurerForm">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newCampaign.name" required>
      <br>
      <label for="storyteller">Storyteller:</label>
      <select type="text" id="storyteller" name="storyteller" [(ngModel)]="newCampaign.storyteller">
        <option *ngFor="let player of players" [ngValue]="player">{{player.firstName}} {{player.lastName}}</option>
      </select>
      <br>
      <label for="game">Game:</label>
      <select type="text" id="game" name="game" [(ngModel)]="newCampaign.game">
        <option *ngFor="let game of games" [ngValue]="game">{{game.name}}</option>
      </select>
      <br>
      <label for="campPlayers">Current Players:</label>
      <ul>
        <li *ngFor="let player of newCampaign.players">{{player.firstName}} {{player.lastName}}
          <button class="btn btn-danger" type="button" (click)="removePlayerNew(player)">Remove</button>
        </li>
      </ul>
      <br>
      <label for="players">Players:</label>
      <ul>
        <li *ngFor="let player of players">{{player.firstName}} {{player.lastName}}
          <button type="button" class="btn btn-success" (click)="addPlayerNew(player)">Add Player</button>
        </li>
      </ul>

      <br>
      <button class="btn btn-primary" type="button" (click)="addCampaign(newCampaign)">Create Campaign</button>
      <button class="btn btn-warning" type="button" (click)="addCampaignToggle()">Back to List</button>
  </form>
  </div>

</div>
