<div class = "container">
  <h1>Meetings</h1>
  <div class = "m-2 p-2"  *ngIf="!selected">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <td><strong>Game</strong></td>
          <td><strong>Campaign</strong></td>
          <td><strong>Location</strong></td>
          <td><strong>Start Time</strong></td>
          <td><strong>Actions</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meeting of meetings" (click)="displayMeeting(meeting)">
          <td class="col md-4">
            <img class="img-thumbnail" [src]="meeting.campaign?.game?.imageURL" alt="no image found"/>
          </td>
          <td>{{meeting.campaign?.name}}</td>
          <td>{{meeting.location}}</td>
          <td>{{meeting.startTime}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteMeeting(meeting.id)">Remove</button>
            <button class="btn btn-warning" (click)="displayMeeting(meeting)">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selected && !editMeeting">
    <h2>Meeting Details</h2>
    <ul>
      <li><strong>ID:</strong> {{ selected.id }}</li>
      <li><strong>Campaign:</strong> {{ selected.campaign?.name }}</li>
      <li><strong>Location:</strong> {{selected.location}}</li>
      <li><strong>Start Time:</strong> {{selected.startTime}}</li>

      <button class="btn btn-warning" (click)="setEditMeeting()">Edit</button>
      <button class="btn btn-primary" (click)="displayTable()">Back to List</button>
    </ul>
  </div>
  <div *ngIf="editMeeting">
    <h2>Edit Meeting</h2>
    <form class="input-group">
      <ul>
        <li>
          <label class="form-label strong" for="editTask">Name: </label>
          <input type="text" id="editTask" [(ngModel)]="editMeeting.campaign" name="editTask" />
        </li>
        <li>
          <label class="form-label strong" for="editDescription">Location: </label>
          <input type="text" id="editDescription" [(ngModel)]="editMeeting.location" name="editDescription" />
        </li>
        <li>
          <label class="form-label strong" for="editCompleted">Start Time: </label>
          <input type="checkbox" id="editCompleted" [(ngModel)]="editMeeting.startTime" name="editCompleted" />
        </li>
      </ul>
    </form>
    <div>
      <button type="button" class="btn btn-warning" (click)="updateMeeting(editMeeting)">Save</button>
      <button type="button" class="btn btn-primary" (click)="cancelEdit()">Cancel</button>
    </div>
  </div>

</div>
